body
{
    background-color: blue;
    color: #333;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}

#cabecera{
    height: 100%;
    padding: 30px;
    color: white;
    background-color: blue;
    border-radius: 2px solid black;
    text-align: center;
    font-size: 24px;
}
#cabecera span{
    color: chartreuse;
    font-weight: bold;
}

#cavecera #logo{
    width: 20px;
    vertical-align: middle;
}